.IntroContent {
  height: 900px;
}
.IntroTextTitle{
  font-size: 200%;
}
.IntroTextSubtitle{
  font-size: 150%;
}
.containerIntroText {
  display: block;
  text-align: center;
  padding-top: 0;
}
.TextLogo {
  /* padding-left: 30px; */
  display: block;
  font-size: 50%;
}
.HomeSecrionWrap {
    padding-left: 0;
}

.btnWhat{
  margin-left: auto;
}
